body {
    background-color: beige;
}

.seccionForm {
    margin: 20px;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: left;
    align-items: left;
}

.container_form {
    display: flex;
    flex-direction: column;

}

.textA_style{
    height: 70px;
    width: 201px;
}
.input_style {
    width: 200px;
}

.campo {
    display: flex;
    flex-direction: column;

}